<style>
  .header {
    background-color: #94c1e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logo {
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
  }

  .logo::after {
    content: "⚡";
    margin-left: 10px;
  }

  .nav-icons {
    display: flex;
    gap: 25px;
  }

  .nav-icons a img {
    transition: transform 0.2s ease-in-out;
  }

  .nav-icons a img:hover {
    transform: scale(1.2);
  }

  .logout {
    background-color: red;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

  .logout:hover {
    background-color: darkred;
  }

  .logout:active {
    background-color: #8b0000;
    transform: scale(0.96);
  }
</style>

<div class="header">
  <div class="logo">ENERGY EASE</div>

  <div class="nav-icons">
      <a href="/"><img src="/images/index.png" title="Parameter" width="24" height="24"></a>
      <a href="/ike"><img src="/images/kwh.png" title="IKE" width="24" height="24"></a>
      <a href="/control-panel"><img src="/images/on.png" title="Control" width="24" height="24"></a>
      <a href="/history"><img src="/images/kalender.png" title="History" width="24" height="24"></a>
  </div>
    <button class="logout" onclick="window.location.href='/logout'">Keluar</button>
</div>
