<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Energi</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <%- include('partials/header', { userId: userId }) %>
  <h2>Monitoring Energi</h2>
  <div>
    <p>Tegangan: <span id="tegangan">-</span> V</p>
    <p>Arus: <span id="arus">-</span> A</p>
    <p>Daya: <span id="daya">-</span> W</p>
    <p>Energi: <span id="energi">-</span> Wh</p>
  </div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on('sensor-data', data => {
    document.getElementById('tegangan').textContent = data.tegangan;
    document.getElementById('arus').textContent = data.arus;
    document.getElementById('daya').textContent = data.daya;
    document.getElementById('energi').textContent = data.energi;
  });
</script>
</body>
</html>
